# Demo App 2 Environment Variables
# ========================================

# Server Configuration
SERVER_PORT=8082
TOMCAT_MAX_THREADS=5
TOMCAT_MIN_SPARE_THREADS=2

# DemoApp Application Identity
DEMO2_SERVICE_IDENTITY_KID=401E1A2E-0F55-455D-94B6-B05C82C2F25C
DEMO2_SERVICE_IDENTITY_PRIVATE_KEY="""-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDSbp6t+pmcH88t
NVKoWyACVulxB+ERrm4+Shf72bTiPO7/ky0LLLCr+YrTOoL1PbA5NPQhLsQUCkoK
dqxM/NHmhrH6EKtOBhR2RLG7bFanlk/BTXjPmX3VRJ4aFUgl0UvvP94ia4jBuu/T
Nm3u8Bk0hWmgXSe97EUJto8mogiDZViUOFQJrnPXBINHZmSQ1CSzXhXtzkGKFGyS
jxu3Esbgr06TmR0bhlpQmgWYL3qKbWeEwGmLdbi+s7t2SarIUJ+0Yd+Mv4eMB9o1
2zB9MhRqUrX7utNffkj+1lJQ8/a/m/NCpMf3aEXD8/OU4lTX1teb5qfqqAAah2lq
izGrUE19AgMBAAECggEACw4asgMvXL9jD/n0LLoU1Wqhevmx/k7OpeEYn3eRhC01
VSHzRNoFMhO7ElvJk365Klg41yFw1aiwuRoA9U527Ih5Ay0rAr9ZBdmYCMOpTcac
zAf459clgDXJpI8nqizzs08EqYRCvALJJKyAXAQrHtI/eVhLhTPLcLYxkRMEJXru
J80ESG1GI7pbEnfSkUZ+vqygu6CoPtZPzAbMivWg2T7p+Aux8E/4toLo4O0jE/W9
+NZmrVSLOhBP+3GE1V1zroq+LAwz2GQ8ihFwZA/c7HYSTnI8pGWbk/2QW0XDeq3F
ueJA5s/POFFRnFnvgEhcarpFW6WqKang5iKjvqFJ4QKBgQDq5WcklMZyLMAKuOW/
3iUZw1SMIADJJWMen3e+EuOX/spPrNeri0XTo5jd91S6QCoX4zqTQ+L5Z94N6i5D
8UbidGJ0D28IocnIKfE3ORtk10wwmxI67AaBxeAfzrdc1jrU9Sk+YsljDT9u6ZXe
WZ5EXkyRyCdXimTevLVklc+u1QKBgQDlVovhpk9j9ew6Ve1YjW2JGncuCEo+zofq
qYLWyBWepT1P4CnDWiESktwsBwPxWzqd4eKqp2YX/4DWPKjzYJI/0M6qQnkGyh2V
Qh6U//Yxvl/DRpgoITbLfZRldAa2lEzKKObrku6XKSt9VSgKXdAhZf/LyX/azUAq
wvxmTpqICQKBgGemmM/sknDZTFiu5Dq5FNf8eHdou9AGnmlp5tXJ0gJFHRLxay24
RDSykQcJV6rkG271Bujq4OI7MiIjvwyeEDBnOPaLxOwjMD4SO+2pVmw2ENm14+J6
OhjTryV5+zGNGuLT18I+pyz9MIuJqWc3Vn5GujTuBGY9nGspDEX5UW6NAoGAGXjO
WoatRK34ydXnYbF7nAG7gPpcvLMVt4OSS6a3eAJkV+3O1aq6B6UWHTG+R11ZmlWP
ZmLnXPz8406jeTydocbgXVq6tH1YYc6RNP1k68t4OWkq1zIxMtLE26vSXw8DpGR8
mWedZl6lPOtrYhNfXYZFre24bKXlXZqAjCBo23kCgYBU0JwCYDWCEMOyPq9NUUGL
OgB8GLhWBVhl3G1033Vz+1ySMzDHnvmkQQnUuZkNR7RxZzvXuh3s4HRz+bj3mnnK
JVOPb5bmpLmlgKHHjRAHw61PGIbFtuae+YCBaW5H5YEhl/3FhFhSmTdzvcdpz5XG
6uf5uu9uDWUsIomKuDrQgA==
-----END PRIVATE KEY-----"""
DEMO2_SERVICE_IDENTITY_PUBLIC_KEY="""-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0m6erfqZnB/PLTVSqFsg
AlbpcQfhEa5uPkoX+9m04jzu/5MtCyywq/mK0zqC9T2wOTT0IS7EFApKCnasTPzR
5oax+hCrTgYUdkSxu2xWp5ZPwU14z5l91USeGhVIJdFL7z/eImuIwbrv0zZt7vAZ
NIVpoF0nvexFCbaPJqIIg2VYlDhUCa5z1wSDR2ZkkNQks14V7c5BihRsko8btxLG
4K9Ok5kdG4ZaUJoFmC96im1nhMBpi3W4vrO7dkmqyFCftGHfjL+HjAfaNdswfTIU
alK1+7rTX35I/tZSUPP2v5vzQqTH92hFw/PzlOJU19bXm+an6qgAGodpaosxq1BN
fQIDAQAB
-----END PUBLIC KEY-----"""

# Auth Server Configuration  
APP_URL_AUTH_SERVER=http://localhost:8080
